In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
dataset=pd.read_csv('advertising.csv')

In [3]:
dataset.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [4]:
x=dataset.iloc[:,:-1].values
y=dataset.iloc[:,-1].values

In [5]:
x.shape,y.shape

((200, 3), (200,))

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25,random_state=10)

In [8]:
from sklearn.ensemble import RandomForestRegressor

In [9]:
model=RandomForestRegressor(n_estimators=10,random_state=0)

In [10]:
model.fit(x_train,y_train)

RandomForestRegressor(n_estimators=10, random_state=0)

In [48]:
y_pred=model.predict(x_test)

In [49]:
y_pred

array([17.9 ,  6.97, 18.63, 23.92, 20.65, 14.79, 18.89, 23.38, 22.72,
        7.13, 23.92,  9.18,  7.13, 19.47, 19.64, 13.73, 19.64,  4.04,
       22.26, 22.54, 19.28,  4.2 , 24.48, 15.41, 17.71,  6.65,  9.1 ,
       10.74, 22.19,  6.8 , 12.66, 22.11,  8.03,  8.11, 19.23, 16.83,
       11.12, 20.09, 11.61, 17.01, 11.37, 11.98, 16.22, 10.1 , 23.54,
        8.89, 18.93, 17.4 ,  6.58, 12.46])

In [50]:
model.score(x_test,y_test)

0.9589072820095094

In [57]:
y_prediction['Id']=np.arange(y_pred.shape[0])

In [54]:
y_prediction=pd.DataFrame(y_pred,columns=['Sales'])

In [55]:
y_pred

array([17.9 ,  6.97, 18.63, 23.92, 20.65, 14.79, 18.89, 23.38, 22.72,
        7.13, 23.92,  9.18,  7.13, 19.47, 19.64, 13.73, 19.64,  4.04,
       22.26, 22.54, 19.28,  4.2 , 24.48, 15.41, 17.71,  6.65,  9.1 ,
       10.74, 22.19,  6.8 , 12.66, 22.11,  8.03,  8.11, 19.23, 16.83,
       11.12, 20.09, 11.61, 17.01, 11.37, 11.98, 16.22, 10.1 , 23.54,
        8.89, 18.93, 17.4 ,  6.58, 12.46])

In [59]:
y_prediction=y_prediction[['Id','Sales']]

In [64]:
y_prediction.drop

    Id  Sales
0    0  17.90
1    1   6.97
2    2  18.63
3    3  23.92
4    4  20.65
5    5  14.79
6    6  18.89
7    7  23.38
8    8  22.72
9    9   7.13
10  10  23.92
11  11   9.18
12  12   7.13
13  13  19.47
14  14  19.64
15  15  13.73
16  16  19.64
17  17   4.04
18  18  22.26
19  19  22.54